Grid#main-grid {
    grid-size: 9;
    width: 80;
    height: 40;
}

TileLabel {
    content-align: center middle;
    width: 100%;
    height: 100%;
}

TileLabel#label-4-4 {
    outline: solid green;
}
